{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Messages {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/icon.svg">

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        <a href="/">
            <img src="/static/images/icon.svg" alt="Creature Icon" class="logo">
        </a>

        <h1>Epic Online Messenger</h1>

        <nav>
            <a href="/">Home</a>
            {% if session.logged_in %}
                <h4>Welcome {{ session["username"] }}</h4>
                <a href="/creatures">Messages</a>
            {% else %}
                <a href="/creatures">Sign Up</a>
                <a href="/creatures">Log in</a>
            {% endif %}
            {% if session.is_admin %}
                <a href="/user_list">User List</a>
            {% endif %}
            
        </nav>
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>

