{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>List of Creatures</h2>

    <section id="users">

        {% for user in users %}

            <div class="user">
                <h3>{{ user.username }}</h3>
                <p>First Name: <strong>{{ user.forename }}</strong></p>
                <p>Last Name: <strong>{{ user.forename }}</strong></p>
            </div>

        {% else %}

            <p>No Users!</p>

        {% endfor %}

    </section>

{% endblock %}

